div.semaine {
  margin-left:100px;
  background-color: green;
  min-width: 1600px;
  max-width: 1200px;
  min-height: 800px;
  position:relative;
}

div.semaine,
div.semaine * {
  -webkit-user-select:none;
}

div.semaine.courante {
  opacity:1;
}
div.semaine:not(.courante){
  opacity:0.5;
}


div.semaine div.hourline {
  position:absolute;
  width:100%;
  height:1px;
  background-color:black;
  z-index:10;
}
div.semaine div.hourline span.hourspan {
  position:absolute;
  display:inline-block;
  left:-2.5em;
  top: -0.5em;
  width:36px;
  text-align:right;
}

/*
Les boutons dans le pied de page
 */
div.footer-buttons {

}
div.footer-buttons span.prevnext-button
{
  font-size:26pt;
  cursor:pointer;
  vertical-align:top;
}
div.footer-buttons span.prevnext-button:active {
  color:green;
}

div.footer-buttons span#prev-week-button {
  margin-left:4em;margin-right:1em;
}
div.footer-buttons span#next-week-button {
  margin-left:1em;margin-right:1em
}
div.footer-buttons button#curr-week-button {
  font-size: 17pt;
  vertical-align:text-bottom;
}

div#time-cursor {
  position:absolute;
  width:100%;
  height:2px;
  background-color:#29CE00;
  z-index:50;
}
div#time-cursor span.current_hour {
  position:absolute;
  background-color:black;
  color:white;
  top: -7px;
  left:-54px;
  font-size: 11pt;
  font-family: monospace;
  z-index:50;
  padding:0.1em 0.3em;
}

/*
  Pour le screenshot d'une semaine précédente
*/
img.semaine-screenshot {
  position:fixed;
  top:0;
  left:0;
  width:80%;
  background-color:white;
  z-index:5000;/* au-dessus de tout */
}
