/*
Pour l'apparence des travaux
 */
div.travail {
  position:absolute;
  font-family: Optima, Arial;
  font-size: 11pt;
  color:white;
  width:100%;
}
div.travail span.tache {
  padding: 0.2
}

div.travail.selected {
  background-color:red;
  z-index: 21;
}
div.travail:not(.selected) {
  background-color:blue;
  z-index: 20;
}

/*
  Le div qui contient l'explication (parfois détaillée) sur
  la récurrence choisie pour un travail récurrent
 */
div.rec-expli {
  font-size: 11pt;
  padding:1em;
}
/* Quand on affiche une grosse explication comme pour le cron-like */
div.rec-expli pre {
  width:900px;
  padding:0.5em;
  background-color:white;
}
