/*
Pour l'apparence des travaux
 */
div.travail {
  position:absolute;
  background-color:blue;
  font-family: Optima, Arial;
  font-size: 11pt;
  color:white;
  width:100%;
  z-index:20;
}
div.travail span.tache {
  padding: 0.2
}
