/*
Pour l'apparence des travaux (des cartes)
 */
div.travail {
  position:absolute;
  font-family: Optima, Arial;
  font-size: 11pt;
  color:white;
  width:100%;
  width:calc(100% - 5px);
  border-left: 2px solid transparent;
  padding-left:4px;
}
div.travail:hover {
  z-index:400 !important;
}
div.travail, div.travail * {
  -webkit-user-select:none;
}
div.travail span.tache {
  padding: 0.2
}

div.travail.selected {
  background-color:red !important;
  z-index: 21;
}
div.travail:not(.selected) {
  background-color:blue;
  z-index: 20;
}

/*
  Les outils (tools)
*/
div.travail div.tools {
  float:right;
  text-align:right;
  margin:0 4px 1em 1em;
  color: white!important;
  width:auto;
  z-index:400;
}
div.travail div.tools:hover,
div.travail div.tools.opened
{
  float:unset;
  position:absolute;
  background-color:green;
  width:90%;
}
 div.travail div.tools .content {
   display:none;
   text-align:left;
   padding:0 0.5em 0.5em;
   z-index:400;
 }
 div.travail div.tools:hover div.content,
 div.travail div.tools div.content:hover,
 div.travail div.tools.opened div.content
 {
   display:block;
 }
 div.travail div.tools div.content a {
   display:block;
   cursor:pointer;
   padding: 3px 0.5em;
 }
 div.travail div.tools div.content a:hover {
   background-color: #2979dc !important;
 }
 div.travail div.tools div.content div.separator {
   height:1px;
   background-color: white;
   width:100%;
   margin:8px 0 6px 0;
 }



/*
  Les infos
 */
div.travail span.infos {
  position:absolute;
  bottom:0px;
  right:0px;
  text-align:right;
  font-size: 9pt;
  z-index:-1 !important;
}
/*
Travaux récurrents
Ils ont l'aspect des travaux, mais avec un petit détail en plus
 */
div.travail.recurrent {
  border-left-color:orange;
}

div.travail.overlap {
  border-left-color:red!important;
}

/*
  Le div qui contient l'explication (parfois détaillée) sur
  la récurrence choisie pour un travail récurrent
 */
div.rec-expli {
  font-size: 11pt;
  padding:1em;
}
/* Quand on affiche une grosse explication comme pour le cron-like */
div.rec-expli pre {
  width:900px;
  padding:0.5em;
  background-color:white;
}
