
/* ---------------------------------------------------------------------

  POUR LES LISTINGS COMMUNS

 */
.common-listing {
  position:absolute;
  left:100px;
  top: 100px;
  background-color:white;
  box-shadow: 10px 10px 10px #999999;
  z-index: 750;
}

.common-listing div.header {
  font-size: 1.4em;
  font-weight:bold;
  padding:0.3em 1em;
}

.common-listing ul.ul-items {
  border: 1px solid #CCCCCC;
  min-height:200px;
  max-height:500px;
  overflow:auto;
  width:500px;
  padding:0;
  margin:0;
}
.common-listing ul.ul-items li {
  padding:2px 1em;
  font-family:Optima;
}
.common-listing ul.ul-items li:active {
  background-color:#CCCCCC;
  color:white;
}
.common-listing ul.ul-items li.selected {
  background-color:#2979dc !important;
  color:white !important;
}
.common-listing ul.ul-items li:nth-child(odd){
  background-color:#EFEFEF;
}
.common-listing div.buttons {
  border: 1px solid transparent;
  padding-bottom:3px;
}

.common-listing div.buttons button.button-ok {
  font-size: 13.4pt;
  font-family: Arial,Geneva;
  margin-right:1em;
  margin-top:8px;
}
