.common-editor {
  position:absolute;
  width:360px;
  background-color: white;
  padding:1em;
  box-shadow: 10px 10px 10px #777777;
  top: 100px; /* sera rectifié */
  left: 200px; /* sera rectifié */
  z-index: 500; /* au-dessus de presque tout */
}

.common-editor input[type="text"],
.common-editor textarea
{
  width: 94%
}

.common-editor div.header {
  font-size:1.4em;
  font-variant: all-small-caps;
  font-weight: bold;
}

.common-editor div.row.buttons {
  margin-top: 2em !important;
}

.common-editor div.row.external-type {

}
.common-editor div.row.external-type span.name {

}
.common-editor div.row.external-type span.name:before {
  content: "Nom : ";
}
.common-editor div.row.external-type button.button-choose {
  font-size: 9pt;
  float:right
}

.common-editor div.row.external-type span.button-unlink {
  border:1px solid;
  color:#FF7777;
  border-radius:5px;
  padding:0px 3px;
  margin-left:8px;
  cursor:pointer;
}

.common-editor div.row.row-color {

}
.common-editor div.row.row-color .acolorpicker-demo {
  font-size: 16pt;
  padding: 1em;
}
